/*************************************/
 /*                tags               */
 /*************************************/

 /* Tag hover in preview */
 a.tag:hover {
	color: var(--text-accent) !important;
}

/* Tag Color in editor and preview*/
.cm-hashtag,
a.tag {
	/* color: var(--text-normal) !important; */
	color: var(--tag-font-color) !important;
	background-color: var(--tag-bg);
	font-size: smaller;
	padding-top: 0em;
	padding-bottom: 0em;
	text-decoration: none !important;
	font-style: normal !important;
	font-weight: 600;
}

/*********************************/
/*             link              */
/*********************************/

/* link */
a,
.internal-link,
.cm-hmd-internal-link,
.cm-link,
.cm-formatting-link,
.cm-url {
	text-decoration: none !important;
}

/* the url string in editor */
.cm-s-obsidian span.cm-string {
	color: var(--text-accent-hover)
}

/* make external links italics to differentiate */
a:not(.internal-link) {
	font-style: italic;
}

/*footnote*/
.cm-s-obsidian pre.HyperMD-footnote span.cm-hmd-footnote,
.cm-s-obsidian span.cm-footref {
	color: var(--text-accent) !important;
}
