 /* JS: ./script.js */
 @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');


 body {
 	--font-size-normal: 19px;
 	--font-size-code: 16px;
 	--font-size-side-dock: 16px;
 	--font-size-side-dock-title: 18px;
 	--font-size-status-bar: 16px;
 	--base-heading-size: calc(var(--font-size-normal) * 1.2);
 	--inline-title-size: calc(var(--base-heading-size)*1.5);
 	--h1-size: calc(var(--base-heading-size)*1.35);
 	--h2-size: calc(var(--base-heading-size)*1.2);
 	--h3-size: calc(var(--base-heading-size)*1.16);
 	--h4-size: calc(var(--base-heading-size)*1.12);
 	--h5-size: calc(var(--base-heading-size)*1.1);
 	--h6-size: calc(var(--base-heading-size)*1);
 	--base-heading-size: calc(var(--font-size-normal) * 1.2);
 	--inline-title-size: calc(var(--base-heading-size)*1.5);
 	--h1-size: calc(var(--base-heading-size)*1.5);
 	--h2-size: calc(var(--base-heading-size)*1.25);
 	--h3-size: calc(var(--base-heading-size)*1.18);
 	--h4-size: calc(var(--base-heading-size)*1.12);
 	--h5-size: calc(var(--base-heading-size)*1.1);
 	--h6-size: calc(var(--base-heading-size)*1);
	--font-serif: Unna, "Cormorant";
	--font-sans: Karla, Quicksand, "FIra Sans";
 	--font-family-editor: var(--font-sans), var(--font-sans), Avenir, "Avenir Next", sans-serif;
	--font-text: var(--font-sans), 'Baskervville', 'Source Serif 4', 'Poiret One', 'Anonymous Pro';
	--font-italics: var(--font-text), var(--font-serif), "Poiret One", "EB garamond", "Playfair", "latin modern roman dunhill";
	--font-bold: var(--font-text), var(--font-serif), "Varela Round", "Lobster Two";
	--font-bold-italics: var(--font-text), var(--font-serif), "Varela Round", "Lobster Two";
 	--font-family-preview: var(--font-sans), Avenir, "Avenir Next", sans-serif;
 	--font-title-new: var(--font-sans), var(--font-family-editor), "Garamond", "Varela Round";
	--inline-title-font: var(--font-title-new);
	--font-headings: var(--font-sans),  Rosarivo, Unna, var(--font-sans);
 	--font-blockquote: var(--font-serif),Marcellus, "Varela Round", "Playfair", "EB Garamond", "Playfair";
 	--font-blockquote-render: "Lora", "EB Garamond", "Latin modern roman";
 	--font-timeline-accent: "Cinzel";
 	--font-timeline-main: Garamond, "EB Garamond";
 	--font-poem: Garamond, "EB Garamond";
 	--font-poem-title: Rosarivo, Unna, Marcellus, Quicksand, Jost, 'Montserrat Medium', Garamond, 'Gill Sans', 'Gill Sans MT', sans-serif;
 	--font-prose: Garamond, "EB Garamond";
 	--font-prose-title: Cinzel;
 	--font-profile: Garamond, "EB Garamond";
 	--font-profile-heading: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 	--font-profile-fancy: Cinzel, Garamond;
 	--tag-bg: rgba(225, 128, 255, 0.144);
 	--tag-font-color: rgb(239, 206, 255);
 	--tag-radius: 2em;
 	--callout-question-new: 168, 130, 255;
 	--file-line-width: 900px;
 	--blockquote-border-thickness: 4px;
 }


 .theme-light,
 .theme-dark {
 	--background-modifier-border: var(--background-accent);
 	--background-modifier-form-field: rgba(0, 0, 0, 0.2);
 	--background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.5);
 	--background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
 	--background-modifier-success: #50fa7b;
 	--background-modifier-error: #c00000;
 	--background-modifier-error-rgb: 192, 0, 0;
 	--background-modifier-error-hover: #ff2727;
 	--background-modifier-cover: rgba(0, 0, 0, 0.6);
 	--main-text-accent: color-mix(in srgb, var(--interactive-accent) 50%, white);
 	--text-accent: #ffb86c;
 	--text-accent: var(--main-text-accent);
 	--text-accent-hover: color-mix(in oklab, #8be9fd 60%, var(--text-accent));
 	--text-normal: #f8f8f2;
 	--text-muted: #f8f8f2;
 	--text-faint: #bd93f9;
 	// --text-faint: var(--interactive-accent);
 	--text-faint: color-mix(in srgb, var(--main-text-accent), white);
 	--text-highlight-bg: #ff5555;
 	--text-error: #ff79c6;
 	--text-error-hover: #ff79c6;
 	--text-selection: color-mix(in srgb, var(--interactive-accent), rgba(54, 54, 54, 0.507) 70%);
 	/* Chromium precess this color with alpha channel */
 	--text-on-accent: #2b031a;
 	--text-on-warning: #ffffff;
 	/* --interactive-normal: #dd6cff; */
 	--interactive-hover: var(--interactive-accent);
 	--interactive-accent-hover: var(--interactive-hover);
 	/* --interactive-accent: #dd6cff; */
 	--interactive-normal: var(--interactive-accent);
 	--blockquote-background-color: color-mix(in srgb, var(--background-secondary), transparent 60%);
 	--scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
 	--scrollbar-bg: rgba(255, 255, 255, 0.05);
 	--scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
 	--tab-text-color: white !important;
 	--list-marker-color: var(--main-text-accent);

 	--text-title-h1: #c9aaf3;
 	--text-title-h2: #ffb86c;
 	--text-title-h2: #f5f792; // oklab is interesting in that the boundary between these two is enough to completely change the mix?
 	--text-title-h3: #a6efff;
 	--text-title-h4: #fc91ea;
 	--text-title-h5: #a0f0b4;
 	--text-title-h6: #e47096;
 	// might need to modify these to make it work with the accent-blending
 	// 9ca9dd

	--special-text-color: color-mix(in oklab, white, var(--main-text-accent));
 	--text-italics: var(--special-text-color);
 	--bold-color: var(--special-text-color);
	--bold-color: color-mix(in oklab, var(--main-text-accent), white 30%);
 	--inline-code: #ffb86c;
 	--inline-code: var(--main-text-accent);
 	--code-block: #8be9fd;
 	--pre-code: var(--background-secondary);
 	--blockquote-border: var(--interactive-normal);
 	--vim-cursor: #ff5555;
 	--border-color: #2b2727;
 	/*also like transparent*/


 	--timeline-color-basis: var(--interactive-accent);
 	--timeline-bg-color: color-mix(in srgb, transparent 80%, color-mix(in srgb, var(--timeline-color-basis) 20%, var(--interactive-normal)));
 	--timeline-fg-color: color-mix(in srgb, var(--timeline-color-basis) 20%, #ffffffc9);
 	--profile-bg-main: color-mix(in oklab,
 			color-mix(in srgb,
 				var(--timeline-color-basis),
 				var(--background-secondary) 10%),
 			transparent 85%);
 }


 .theme-dark {
	--background-primary: #282a36;
	--background-primary: color-mix(in srgb, var(--interactive-accent), black 80%);
	--background-primary-alt: #44475a;
	--background-secondary: #4b445a;
	--background-secondary: color-mix(in srgb, var(--interactive-accent), rgb(15, 14, 14) 70%);
	--background-secondary-alt: #282a36;
	--background-secondary-alt: color-mix(in srgb, var(--interactive-accent), rgb(15, 15, 15) 80%);
	--background-accent: color-mix(in srgb, var(--interactive-accent), #fff5); 
	--inline-title-color: color-mix(in srgb, var(--interactive-accent), white 40%);
	--hr-color: rgba(255, 255, 255, 0.3);
	--icon-color: color-mix(in srgb, var(--main-text-accent), white);
	--nav-collapse-icon-color: var(--main-text-accent);
}

 .theme-light {
	--background-primary: #282a36;
	--background-primary: color-mix(in srgb, var(--interactive-accent), white 40%);
	--background-primary-alt: var(var(--background-primary));
	--background-secondary: color-mix(in srgb, var(--interactive-accent), white 20%);
	--background-secondary-alt: color-mix(in oklab, var(--background-secondary), white);
	--background-accent: color-mix(in srgb, var(--interactive-accent), rgba(122, 122, 122, 0.333));
	--text-normal: color-mix(in srgb, var(--interactive-accent), black 70%);
	--text-muted: color-mix(in srgb, var(--interactive-accent), rgba(0, 0, 0, 0.836) 70%);
	--main-text-accent: color-mix(in srgb, var(--interactive-accent) 50%, rgba(84, 84, 84, 0.384));
	--inline-title-color: var(--main-text-accent);
	--hr-color: var(--main-text-accent);
	--icon-color: color-mix(in srgb, var(--main-text-accent), rgb(23, 23, 23));
	--nav-collapse-icon-color: var(--main-text-accent);
 }

 /*-------------------------------------*/
 /*      Search the following lines     */
 /*     to jump to specific section     */
 /*-------------------------------------*/
 /*  resize-handle and borders          */
 /*                tags               */
 /*             link              */
 /*                Cursor               */
 /* basic format in EDITOR and PREVIEW */
 /* Headings - EDITOR and PREVIEW */
 /*         Code block in  Preview      */
 /*       Code block in Editor          */
 /*              Brackets               */
 /*             Blockquote              */
 /*             table                   */
 /*               Checkbox              */
 /*           html in editor            */
 /*              popover                */
 /*            Side panel               */
 /* internal embedded link in preview   */
 /*             graph view              */
 /*            settings                 */
 /*            Hide side bar            */
 /*           width of content          */
 /*    at a rule line before ul list    *
 /*  Hide Scrollbar (recommend for mac)  */
 /*-------------------------------------*/

/* global */
 hr,
 .hr.cm-line hr {
 	border-color: var(--hr-color);
 }


body {
	.cm-line {
		// font-weight: 100;
	}
}

// .markdown-source-view.mod-cm6.is-readable-line-width 

.cm-sizer {
	max-width: var(--file-line-width);
	margin-left: auto;
	margin-right: auto;
  }


.inline-title {
	font-weight: 200;
	// text-shadow: 0 0 10px #ffffff41;
	;
}

.inline-badge {
	--font-weight: 500;
	--font-size: 0.9em;
	font-size: var(--font-size);
	padding-inline: 0.25em;
	padding-left: 0.075em;
	padding-right: 0.15em;

	.inline-badge-icon svg {
		--icon-size: calc(var(--font-size) * 1);
		stroke-width: 2px;
		width: var(--icon-size);
		height: var(--icon-size);
	}

	.inline-badge-title-inner {
		font-weight: var(--font-weight);
		font-size: var(--font-size);
	}
}

 /***************************************/
 /*  resize-handle and borders          */
 /***************************************/

 /*vertical resize-handle*/
 .workspace-split.mod-vertical>*>.workspace-leaf-resize-handle,
 .workspace-split.mod-left-split>.workspace-leaf-resize-handle,
 .workspace-split.mod-right-split>.workspace-leaf-resize-handle {
 	width: 1px !important;
 	background-color: var(--border-color);
 }

 /*horizontal resize-handle*/
 .workspace-split.mod-horizontal>*>.workspace-leaf-resize-handle {
 	height: 1px !important;
 	background-color: var(--border-color);
 }

 /*workspace ribbon when collapsed*/
 .workspace-ribbon.is-collapsed {
 	background-color: var(--background-primary-alt);
 }

 /*the vertical split*/
 .workspace-split.mod-root .workspace-split.mod-vertical .workspace-leaf-content,
 .workspace-split.mod-vertical>.workspace-split,
 .workspace-split.mod-vertical>.workspace-leaf,
 .workspace-tabs {
 	padding-right: 0px;
 }

 /*status-bar*/
 .status-bar {
 	font-size: var(--font-size-status-bar);
 	background-color: var(--background-secondary-alt);
 	border-top: 0px;
 }

 .document-search-container {
 	border-top: 0px;
 	border-right: 0px;
 	z-index: inherit;
 }

 .workspace-ribbon.mod-left.is-collapsed {
 	border-right: 1px solid var(--border-color);
 }

 .workspace-ribbon.mod-right.is-collapsed {
 	border-left: 1px solid var(--border-color);
 }

 /*************************************/
 /*                tags               */
 /*************************************/

 /* Tag hover in preview */
 a.tag:hover {
 	color: var(--text-accent) !important;
 }

 /* Tag Color in editor and preview*/
 .cm-hashtag,
 a.tag {
 	/* color: var(--text-normal) !important; */
 	color: var(--tag-font-color) !important;
 	background-color: var(--tag-bg);
 	font-size: smaller;
 	padding-top: 0em;
 	padding-bottom: 0em;
 	text-decoration: none !important;
 	font-style: normal !important;
 	font-weight: 600;
 }

 /*********************************/
 /*             link              */
 /*********************************/

 /* link */
 a,
 .internal-link,
 .cm-hmd-internal-link,
 .cm-link,
 .cm-formatting-link,
 .cm-url {
 	text-decoration: none !important;
 }

 /* the url string in editor */
 .cm-s-obsidian span.cm-string {
 	color: var(--text-accent-hover)
 }

 /* make external links italics to differentiate */
 a:not(.internal-link) {
 	font-style: italic;
 }

 /*footnote*/
 .cm-s-obsidian pre.HyperMD-footnote span.cm-hmd-footnote,
 .cm-s-obsidian span.cm-footref {
 	color: var(--text-accent) !important;
 }

 /***************************************/
 /*                Cursor               */
 /***************************************/

 /* Cursor color and opacity */

 .cm-fat-cursor .CodeMirror-cursor,
 .cm-animate-fat-cursor {
 	width: 0.5em;
 	background: var(--vim-cursor);
 	opacity: 60% !important;
 }

 /**************************************/
 /* basic format in EDITOR and PREVIEW */
 /**************************************/

 /* font for everything outside of editor/preview panes */
 .app-container {
 	font-family: var(--font-family-preview);
 }

 /* set the text selection color for preview mode */
 ::selection {
 	background-color: var(--text-selection);
 }

 /* normal text outside of headings and code of editor */
 .cm-s-obsidian,
 .mod-single-child .cm-s-obsidian {
 	font-family: var(--font-family-editor);
 	font-size: var(--font-size-normal);
 }

 /* normal text outside of headings and code of preview */
 .markdown-preview-view,
 .mod-single-child .markdown-preview-view {
 	font-family: var(--font-family-editor);
 	font-size: var(--font-size-normal);
 	padding-top: 0px;
 	padding-left: 2% !important;
 	padding-right: 1% !important;
 }

 /* bold in preview and editor */
 strong,
 .cm-strong {
 	color: #ff94dfec;
 	color: #aee2fb;
 	color: var(--bold-color);
 }

 strong,
 .cm-strong,
 .cm-quote.cm-strong {
 	font-weight: 600;
 	font-size: calc(var(--font-size-normal) * 1);
	font-family: inherit;
 }

 /* italics/emphasis in preview and editor */
 .cm-s-obsidian .cm-quote.cm-em,
 .cm-em,
 em,
 .cm-em {
 	/* color: var(--text-muted); */
 	color: #FFB294;
 	color: #cee3ff;
 	color: var(--text-italics);

 	font-style: italic;
 	font-weight: 400;
 	// font-family: var(--font-italics);
	font-family: inherit;
 	font-size: calc(var(--font-size-normal) * 1);
 	// font-size: 1.2em; // if it's garamond we're working with that is
 	letter-spacing: 0.01em;
 	line-height: 1;
 	/* text-shadow: 0 0 2px #9298e9de; */
 }

 strong em,
 .cm-em.cm-strong,
 .cm-quote.cm-em.cm-strong {
 	/* NOTE: 
	   throughout the vault, 
	   bold-italics are used not just for big emphasis,
	   bold italics
	   but also for mini-headings!
	*/
 	font-weight: 700;
 	color: #94C1FF;
	color: var(--text-italics);
 	font-style: italic;
 	// font-family: var(--font-bold-italics);
	font-family: inherit;
 	font-size: calc(var(--font-size-normal) * 1);
 	// letter-spacing: 0.05em;
 	/* text-shadow: 0 0 3px #a0ecff9a; */
 }

 /* strikethrough in preview and editor */
 s,
 .cm-strikethrough {
 	color: var(--text-muted);
 }

 /* list in editor */
 .cm-s-obsidian span.cm-formatting-list {
 	color: var(--text-normal) !important;
 }

 /* horizontal line in preview */
 .markdown-preview-view hr {
 	background-color: var(--text-faint) !important;
 }


 /* embedded images */
 img:not(.emoji) {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 }

 /* img hover zoom out img*/
 img:hover {
 	transform: scale(1.04);
 	transition: transform 0.25s ease-in-out 0s;
 }

 .community-theme img:hover {
 	transform: none;
 }

 /*********************************/
 /* Headings - EDITOR and PREVIEW */
 /*********************************/




 /* headings for editor and preview */
 .cm-header,
 .markdown-preview-view :is(h1, h2, h3, h4, h5, h6) {
 	color: color-mix(in oklab, var(--h-color), var(--interactive-accent) 50%);
 	filter: saturate(0.7);
	font-weight: 500;
	font-family: var(--font-headings);
 }

 .cm-header-1,
 .markdown-preview-view h1 {
 	--h-color: var(--text-title-h1);
 }

 .cm-header-2,
 .markdown-preview-view h2 {
 	--h-color: var(--text-title-h2);
 }

 .cm-header-3,
 .markdown-preview-view h3 {
 	--h-color: var(--text-title-h3);
 }

 .cm-header-4,
 .markdown-preview-view h4 {
 	--h-color: var(--text-title-h4);
 }

 .cm-header-5,
 .markdown-preview-view h5 {
 	--h-color: var(--text-title-h5);
 }

 .cm-header-6,
 .markdown-preview-view h6 {
 	--h-color: var(--text-title-h6);
 }


 /***************************************/
 /*         Code block in  Preview      */
 /***************************************/

 /* code blocks in preview */
 pre code {
 	font-family: monaco !important;
 	font-size: var(--font-size-code) !important;
 	padding: 6px !important;
 	line-height: normal;
 	display: block;
 	color: var(--code-block) !important;
 }

 /* padding of code blocks in preview */
 .markdown-preview-view pre {
 	padding: 0px !important;
 }

 /* font-size of in-line block for preview */
 .markdown-preview-view code {
 	font-size: var(--font-size-code);
 }


 /* remove the shadow that typically affect light mode */
 .theme-dark code[class*="language-"],
 .theme-dark pre[class*="language-"],
 .theme-light code[class*="language-"],
 .theme-light pre[class*="language-"] {
 	text-shadow: none !important;
 	color: var(--text-faint) !important;
 	background-color: var(--pre-code);
 }

 /***************************************/
 /*              Brackets               */
 /***************************************/

 .cm-s-obsidian span.cm-formatting-link {
 	color: var(--interactive-accent) !important;
 }


 /***************************************/
 /*             Blockquote              */
 /***************************************/

 /* for editor */
 .cm-quote:not(:is(.cm-em, .cm-strong)) {
 	color: var(--text-normal);
 	/* font-style: italic; */
 	font-weight: 500;
 	line-height: 1.5;
 }

 .cm-quote,
 .cm-quote.cm-em,
 .cm-quote.cm-em,
 .cm-quote.cm-em.cm-strong {
 	font-family: var(--font-blockquote);
	font-style: italic;
	opacity: 0.9;
 	// font-size: calc(var(--font-size-normal) * 0.9);
 }


//  blockquote lines that are at the start of their chain
.cm-line:not(:has(.cm-quote)) + .HyperMD-quote:has(+ .HyperMD-quote) {
	padding-top: 0.4em !important;

	.cm-quote{
		// color: blue !important
	}
}

//  blockquote lines that are at the end of their chain
.HyperMD-quote + .HyperMD-quote:has( + :is(.hr, .cm-line:not(:has(.cm-quote)))) {
	padding-bottom: 0.8em !important;
	.cm-quote {
		// color: green !important
	}
}

//  blockquote lines that are 'islands'
.cm-line:not(:has(span.cm-em)) + .HyperMD-quote:has( + .cm-line:not(:has(span.cm-em))) {
	padding-block: 0.8em !important;

	.cm-quote {
		// color: red !important
	}	
}

 .HyperMD-quote.HyperMD-quote-1.cm-line:has(.cm-quote) {
 	/* background color is defined automatically as blockquote-background-color */
 	border-radius: 0 8px 8px 0;
 	line-height: 1.5em;
 	margin: 30px 0px;
 	margin: 0;
 	font-style: italic;
 	font-family: var(--font-blockquote);
 	padding: .1em 0.5em;
 	// display: flex;
 	box-sizing: border-box;

 	>* {
 		// display: inline-block;
 		box-sizing: border-box;
 	}
 }


 /* for preview */
 .markdown-preview-view blockquote {
 	background-color: var(--pre-code);
 	border: 0px solid;
 	border-color: var(--blockquote-border) !important;
 	border-left-width: 4px !important;
 	border-radius: 0 8px 8px 0;
 	line-height: 1.5em;
 	margin: 30px 0px;
 	font-style: italic;
 	padding: 0.5em .75em;
 	font-family: var(--font-blockquote-render);
 	font-size: calc(var(--font-size-normal) * 1.4);
 }

 .markdown-preview-view blockquote em {
 	font-size: calc(var(--font-size-normal) * 1.4)
 }

 /***************************************/
 /*             table                   */
 /***************************************/

 th {
 	font-weight: 800 !important;
 }

 .markdown-preview-view th {
 	font-weight: 800;
 	background-color: var(--background-secondary) !important;
 }

 thead {
 	border-bottom: 3px solid var(--background-modifier-border);
 }

 .table {
 	padding: 4px;
 	line-height: normal;
 	display: block;
 	border-top-left-radius: 4px;
 	border-top-right-radius: 4px;
 	border-bottom-right-radius: 4px;
 	border-bottom-left-radius: 4px;
 }

 /***************************************/
 /*               Checkbox              */
 /***************************************/

 .markdown-preview-view .task-list-item-checkbox:checked::before {
 	content: '✓';
 	position: absolute;
 	color: var(--text-accent);
 	font-size: 1em;
 	line-height: 1.25em;
 	width: 1.2em;
 	text-align: center;
 	text-shadow: 0 0 0.1em var(--text-accent);
 }

 .markdown-preview-view .task-list-item-checkbox {
 	-webkit-appearance: none;
 	appearance: none;
 	top: 0.2em !important;
 	right: 4px;
 	box-sizing: border-box;
 	border: 1px solid var(--text-muted);
 	position: relative;
 	width: 1.25em;
 	height: 1.25em;
 	margin: 0;
 	box-shadow: 0 0 0.1em var(--text-muted);
 }

 .checkbox-container {
 	background-color: var(--background-primary);
 }


 /***************************************/
 /*              popover                */
 /***************************************/

 .popover {
 	border: 1px solid var(--border-color);
 	background-color: var(--background-secondary);
 }


 /***************************************/
 /*            Side panel               */
 /***************************************/

 /* search result in backlink or file search */
 .search-result-file-title {
 	font-size: 15px;
 }

 .search-result-file-matches,
 .search-empty-state {
 	font-size: var(--font-size-side-dock);
 }

 /*decrease the spacing between result items*/
 .search-result-file-title,
 .search-result-file-match {
 	padding: 0px 10px;
 }

 .nav-file-title,
 .nav-folder-title {
 	border-bottom-left-radius: 0 !important;
 	border-bottom-right-radius: 0 !important;
 	border-top-left-radius: 0 !important;
 	border-top-right-radius: 0 !important;
 }

 /*backlink pane*/
 .workspace-leaf-content[data-type="backlink"] .view-content {
 	background-color: var(--background-secondary);
 }

 .workspace-leaf-content[data-type="tag"] .tag-pane-tag-count,
 .workspace-leaf-content[data-type="tag"] .tag-pane-tag-text {
 	font-size: var(--font-size-side-dock);
 }

 .workspace-leaf-content[data-type="backlink"] .search-result-file-matches {
 	font-size: var(--font-size-side-dock);
 }

 /***************************************/
 /* internal embedded link in preview   */
 /***************************************/

 /* Naked Embeds */
 .markdown-embed-title {
 	display: none;
 }

 .markdown-preview-view .markdown-embed-content>:first-child {
 	margin-top: 0;
 }

 .markdown-preview-view .markdown-embed-content>:last-child {
 	margin-bottom: 0;
 }

 /*remove the following two line, you will get border and scroll*/
 .markdown-preview-view .markdown-embed {
 	border: none;
 	padding: 0;
 	margin: 0;
 }

 .markdown-preview-view .markdown-embed-content {
 	max-height: unset;
 	background-color: var(--background-secondary);
 }

 /* the link on the top right corner*/
 .markdown-embed-link {
 	color: var(--text-faint) !important;
 }

 .markdown-embed-link:hover {
 	color: var(--text-accent) !important;
 }

 /***************************************/
 /*             graph view              */
 /***************************************/
 .graph-view.color-circle,
 .graph-view.color-fill-highlight,
 .graph-view.color-line-highlight {
 	color: var(--text-accent) !important;
 }

 .graph-view.color-text {
 	color: var(--text-normal) !important;
 }

 .graph-view.color-line {
 	color: #6272a4;
 }

 .graph-view.color-fill {
 	color: var(--text-muted);
 }

 .workspace-leaf-content[data-type="graph"] .view-content {
 	background-color: var(--background-primary);
 }

 /***************************************/
 /*            settings                 */
 /***************************************/

 .modal.mod-settings button:not(.mod-cta):hover {
 	background-color: var(--interactive-accent-hover);
 }

 .dropdown,
 button:not(.clickable-icon) {
 	color: black
 }

 select option {
 	color: var(--text-normal)
 }

 /***************************************/
 /*            Hide side bar            */
 /***************************************/

 .workspace-ribbon:not(:hover) .workspace-ribbon-collapse-btn,
 .workspace-ribbon:not(:hover) .side-dock-actions,
 .workspace-ribbon:not(:hover) .side-dock-settings {
 	display: none;
 	transition: all 300ms ease-in-out;
 }

 .workspace-ribbon:not(:hover) {
 	width: 0px;
 	transition: all 300ms ease-in-out;
 }

 .workspace-split.mod-left-split {
 	margin-left: 0px;
 }

 .workspace-split.mod-right-split {
 	margin-right: 0px;
 }

 /***************************************/
 /*           width of content          */
 /***************************************/

 .markdown-source-view.is-readable-line-width .CodeMirror {
 	max-width: 900px;
 	margin-left: auto;
 	margin-right: auto;
 }

 .markdown-preview-view.is-readable-line-width .markdown-preview-section {
 	max-width: 900px;
 	margin-left: 30px;
 	margin-right: 30px;
 }


 /* header */

 .theme-dark .view-header {
 	background-color: var(--background-primary) !important;
 	border-top: 1px solid var(--border-color) !important;
 	border-bottom: 1px solid var(--border-color) !important;
 }

 .theme-dark .view-header-title-container:after {
 	background: linear-gradient(to bottom, transparent, var(--background-primary)) !important;
 }

 .theme-dark .workspace-leaf.mod-active .view-header {
 	background-color: var(--background-secondary-alt) !important;
 	border-top: 0px !important;
 	border-bottom: 3px solid var(--interactive-accent) !important;
 }

 .workspace-leaf.mod-active .view-header-title-container:after {
 	background: linear-gradient(to bottom, transparent, var(--background-secondary-alt)) !important;
 }

 .workspace-leaf.mod-active .view-header-title,
 .workspace-leaf.mod-active .view-header-icon {
 	color: var(--background-modifier-border);
 }

 .view-header-title,
 .view-header-icon,
 .view-action {
 	color: var(--text-faint);
 }

 .view-header-title {
 	font-size: 20px;
 }

 /***************************************/
 /*    at a rule line before ul list    */
 /***************************************/

 ul ul {
 	position: relative;
 }

 ul ul::before {
 	content: '';
 	border-left: 1px solid var(--border-color);
 	position: absolute;
 }

 ul ul::before {
 	left: -1em;
 	top: 0;
 	bottom: 0;
 }

 /* rule line when there are checkboxes*/
 ul .task-list-item ul::before {
 	left: 0.15em !important
 }

 /***************************************/
 /*       Code block in Editor          */
 /***************************************/

 /* in-line block for editor */
 .cm-s-obsidian span.cm-inline-code,
 .cm-s-obsidian span.cm-inline-code.cm-hmd-indented-code,
 .cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code) {
 	background-color: var(--pre-code-bg);
 	color: var(--inline-code) !important;
 	bottom: 0px !important;
	font-weight: 500;
 }

 /* Editor CodeBlock TEXT Appearance */
 .cm-s-obsidian pre.HyperMD-codeblock {
 	font-family: monaco !important;
 	font-size: var(--font-size-code) !important;
 	padding: 1px !important;
 	display: block;
 	color: var(--code-block) !important;
 	font-weight: 500;
 	text-indent: 0px !important;
 }

 /* manual codeblock override */
 .HyperMD-codeblock {
 	display: inline;

 	&.HyperMD-codeblock-bg {
 		--code-background: color-mix(in srgb, var(--background-secondary), transparent 60%);
 	}

 	/* syntax highlights */
 	span.cm-hmd-codeblock {
 		--selected-color: white;
 		--syntax-color: color-mix(in oklab, var(--selected-color), var(--interactive-accent) 50%);
 		color: var(--syntax-color);

 		&.cm-property {
 			--selected-color: #d999f3;
 		}

 		&.cm-comment {
 			--selected-color: #fff2;
 		}

 		&.cm-string {
 			--selected-color: white;
 		}

 		&.cm-qualifier {
 			--selected-color: #b5f2ad;
 		}

 		&.cm-tag {
 			--selected-color: #f18a8a;
 		}

 		&.cm-keyword {
 			--selected-color: #b2b3f8;
 		}

 		&.cm-variable,
 		&.cm-variable-2 {
 			--selected-color: #81e4f3;
 		}

 		&.cm-number {
 			--selected-color: rgb(254, 219, 101);
 		}

 		&.cm-def {
 			--selected-color: palegreen;
 		}

 		&.cm-builtin {
 			--selected-color: rgb(247, 247, 89);
 		}

 		&.cm-meta {
 			--selected-color: rgb(244, 182, 244);
 		}

 		&.cm-atom {
 			--selected-color: #fdd6a9;
 		}

 	}
 }

 /*remove the border of codeblock in editor */
 .HyperMD-codeblock-bg {
 	border: 0px !important;
 }

 /*an active line highlight in vim normal mode 
 .cm-fat-cursor .CodeMirror-activeline .CodeMirror-linebackground{
   background-color: var(--text-selection) !important;
 } */

 /* in-line block for preview */
 code {
 	color: var(--inline-code);
 	bottom: 0px !important;
 }

 /* graph css  */
 .theme-dark .graph-view.color-arrow {
 	color: #50fa7b;
 }

 .theme-dark .graph-view.color-fill-tag {
 	color: #ffb86c;
 }

 .theme-dark .graph-view.color-fill-attachment {
 	color: #ff5555;
 }

 .theme-dark .graph-view.color-fill-unresolved {
 	color: #6272a4;
 }

 .search-result-collapse-indicator {
 	position: absolute;
 	left: 0;
 	top: -3px;
 	color: var(--text-faint);
 	transition: transform 100ms ease-in-out;
 	padding: 0px !important;
 }

 .callout[data-callout="question"],
 .callout[data-callout="help"],
 .callout[data-callout="faq"] {
 	--callout-color: var(--callout-question-new);
 	--callout-icon: help-circle;
 }

 .callout[data-callout="pink"] {
 	--callout-color: attr(callout);
 	--callout-icon: lucide-pencil;
 }

.callout {
	--for-convenient-color-picking: rgb(255, 128, 128);
 	--callout-bug: var(--color-red-rgb);
    --callout-default: var(--color-blue-rgb);
    --callout-error: var(--color-red-rgb);
    --callout-example: var(--color-purple-rgb);
    --callout-fail: var(--color-red-rgb);
    --callout-important: 255, 128, 128;
    --callout-info: var(--color-blue-rgb);
    --callout-question: var(--color-orange-rgb);
    --callout-success: var(--color-green-rgb);
    --callout-summary: var(--color-cyan-rgb);
    --callout-tip: var(--color-cyan-rgb);
    --callout-todo: var(--color-blue-rgb);
    --callout-warning: var(--color-orange-rgb);
    --callout-quote: 158, 158, 158;
	background-color: var(--background-secondary);

// 	&[data-callout="important"] {
// 		color: red !important
// 	}
}

 button.mod-warning {
 	color: var(--text-on-warning);
 	font-weight: bold;
 }

 /* HOver */
 @media (hover: hover) {

 	select:hover,
 	.dropdown:hover {
 		opacity: 70%
 	}




 	button.mod-cta:hover {
 		opacity: 60%;
 	}

 	.modal.mod-settings button:not(.mod-cta):hover {
 		opacity: 60%;
 	}
 }

 /* Date/Timeline Object */
 .date {
 	background-color: color-mix(in srgb, transparent 70%, color-mix(in srgb, aliceblue 10%, var(--interactive-normal)));
 	color: aliceblue;
 	padding: 0.3em 0.4em;
 	font-family: Cinzel;
 	border-radius: 0.4em;
 	font-size: calc(var(--font-size-normal)*1.1);
 	box-sizing: border-box;
 	width: fit-content;
 	display: inline-block;
 }


 .date.tertiary {
 	font-size: calc(var(--font-size-normal)*0.9);
 	background-color: color-mix(in srgb, transparent 55%, color-mix(in srgb, rgb(173, 54, 70) 50%, var(--interactive-normal)));
 	color: white;
 	font-weight: 500;
 }

 .date.secondary {
 	font-size: calc(var(--font-size-normal)*0.9);
 	background-color: color-mix(in srgb, aliceblue, transparent 20%);
 	color: rgb(21, 0, 46);
 	font-weight: 700;
 	padding: 0.2em 0, 3em
 }

 .cm-line:has(.dinkus) {
 	/* width: 100%; */
 	display: block;
 	font-size: calc(var(--font-size-normal)*1.4);
 	text-align: center;
 	line-height: 1;
 }

 .cm-line:has(.dinkus.snowflake) {
 	/* width: 100%; */
 	display: block;
 	font-size: calc(var(--font-size-normal)*1.8);
 	text-align: center;
 	line-height: 1;
 }

 .cm-line:has(.dinkus.heart) {
 	/* width: 100%; */
 	display: block;
 	font-size: calc(var(--font-size-normal)*2);
 	text-align: center;
 	line-height: 1;
 }

 .dinkus {
 	display: flex;
 	align-items: center;
 	/* Vertically center */
 	justify-content: center;
 	padding: 0
 }

 .dinkus.left::before {
 	/* make this more-suited to left-aligned text i.e don't align dinkus to centre */
 	margin-right: 6em
 }

 .dinkus:not(:is(.diamond, .snowflake, .sparkles, .heart))::before {
 	content: "✻ ✻ ✻";
 	color: thistle
 }

 .dinkus.diamond::before {
 	content: "❖ ❖ ❖";
 	color: plum
 }

 .dinkus.snowflake::before {
 	content: "❄ ❄ ❄";
 	color: lightblue
 }

 .dinkus.sparkles::before {
 	content: "✨ ✨ ✨";
 }

 .dinkus.heart::before {
 	content: "❧";
 	color: pink
 }

 /* PROSE AND POETRY */
 .cm-callout:has(.callout[data-callout="poem"]) {
 	display: block;
 	width: 100%;
 	min-width: 60%;
 	max-width: fit-content;
 }

 .callout[data-callout="poem"] {
 	--callout-color: attr(callout);
 	--callout-icon: lucide-leaf;
 	background-color: color-mix(in oklab,
 			var(--interactive-accent),
 			transparent 83%);
 	font-family: var(--font-poem);
 	width: 100%;
 }

 .callout[data-callout="poem"] .callout-icon {
 	display: none;
 }

 .callout[data-callout="poem"] .callout-title-inner {
 	font-size: 1.5em;
 	font-family: var(--font-poem-title);
 	font-weight: 500;
 	opacity: 1;
 	position: relative;
 	width: fit-content;
 	/* Ensures the width doesn't exceed 70vw */
 	/* min-width: 20vw; */
 	max-width: 70%;
 	text-wrap: pretty;
 	color: var(--main-text-accent);
 	/* color: color-mix(in srgb, var(--interactive-accent) 70%, white); */
 	// filter: saturate(2) brightness(1.35) opacity(0.8);
 }

 .callout[data-callout="poem"] .callout-title-inner::after {
 	content: '';
 	display: block;
 	width: 105%;
 	height: 2px;
 	background-color: currentColor;
 	position: absolute;
 	bottom: -0.0em;
 	/* would otherwise set this to -0.05 but honestly 0 is fine */
 	left: 15%;
 	transform: translateX(-15%);
 	opacity: 0.7
 }

 .callout[data-callout="poem"] .callout-content {
 	letter-spacing: 0.02em;
 	opacity: 0.85;
 	margin-right: 2em;

	em, strong {
		font-family: var(--font-poem);
		font-size: inherit
	}
 }

 /* 
	 signature
 .callout[data-callout="poem"] .callout-content::after {
	 content:"—Ben";
	 text-align: right;
	 margin-right: 12em;
	 display: block;
	 color:rgba(229, 251, 255, 0.667)
 } */

 .callout[data-callout="poem"] .callout-content p {
 	margin-block-start: 0.5em
 }

 .callout[data-callout="poem"] .cm-comment {
 	color: red
 		/* won't work cuz once rendered it isn invisible and in reading mode it isnt' this class list */
 }

 .HyperMD-quote cm-comment {
 	color: red
 		/* doen't work but i can't investigate cuz once i click off it renders */
 }


 .callout[data-callout="poem"] .callout-content :is(em, strong) {
 	color: var(--text-muted);
 }

 .callout[data-callout="poem"] .callout-content hr {
 	color: var(--text-unset);
 	font-weight: 200;
 	overflow: visible;
 	/* For IE */
 	padding: 0;
 	border: none;
 	/* border-top: medium dashed var(--accent);*/
 	color: var(--accent);
 	text-align: center;
 }

 .callout[data-callout="poem"] .callout-content hr::after {
 	content: "✦·········• ✦ •·········✦";
 	content: "──── ⋆⋅☆⋅⋆ ────";
 	display: inline-block;
 	position: relative;
 	top: 0em;
 	transform: translateX(-15%);
 	font-size: 0.9em;
 	padding: 0 0.5em 0 0.5em;
 	background-color: var(--mixed-bg-secondary);
 }


 /* PROSE */
 .cm-callout:has(.callout[data-callout="prose"]):hover {
	--background-modifier-border: color-mix(in srgb, var(--interactive-accent), rgba(255, 255, 255, 0.312));
 	--embed-block-shadow-hover: none;
 	--embed-block-shadow-hover: 0 0 0 1px var(--background-modifier-border),
 						inset 0 0 0 1px var(--background-modifier-border);
 	// box-shadow: none;
 }


 .callout[data-callout="prose"] {
 	--temp: color-mix(in srgb, var(--background-primary) 90%, var(--interactive-accent));
 	background-color: color-mix(in srgb, var(--temp) 100%, transparent);

 	padding-inline: 2rem;
 }

 .callout[data-callout="prose"] .callout-content {
 	letter-spacing: 0.02em;
 	text-align: justify;

 	opacity: 0.85;
 	font-family: var(--font-prose);
 	font-weight: 500;
 	color: white;

 	padding-inline: 5em;
 	padding-bottom: 1.4em;


 	p:not(:first-child) {
 		text-indent: 1.5em;
 		margin-top: -.7em;
 	}

 	p:first-child:first-letter {
 		--line-count: 2;
 		font-size: calc(var(--line-height-normal) * 1em * var(--line-count));
 		float: left;
 		line-height: 1;
 		margin-right: 0.1em;
 		font-weight: normal;
 		/* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
 		color: color-mix(in srgb, var(--text-accent), rgba(255, 255, 255, 0.753) 70%);
 		color: color-mix(in srgb, var(--interactive-accent) 60%, white);
 		filter: hue-rotate(280deg);
 	}

 	:is(em, strong) {
 		color: var(--text-muted);
 		font-weight: 200
 	}

 	hr {
 		color: var(--text-unset);
 		font-weight: 200;
 		overflow: visible;
 		/* For IE */
 		padding: 0;
 		border: none;
 		/* border-top: medium dashed var(--accent);*/
 		color: var(--accent);
 		text-align: center;

 		&::after {
 			content: "✦·········• ✦ •·········✦";
 			content: "──── ⋆⋅☆⋅⋆ ────";
 			display: inline-block;
 			position: relative;
 			top: 0em;
 			font-size: 0.9em;
 			padding: 0 0.5em;
 			background-color: var(--mixed-bg-secondary);
 		}
 	}
 }

 .callout[data-callout="prose"] .callout-title {
 	width: 100%;

 	.callout-icon {
 		display: none;
 	}

 	.callout-title-inner {
 		// display: block;
 		font-family: var(--font-prose-title);
 		color: var(--text-accent);
 		font-weight: 100;
 		text-align: left;
 		width: 100%;

 		opacity: 0.7;
 		//padding-inline: 2em;

 		// text-decoration: underline 1px var(--interactive-accent);
 		// text-underline-offset: 0.3em;

 		&::before,
 		&::after {
 			content: " - ";
 		}
 	}
 }


 /* profiles */
 .callout[data-callout="profile"] {
 	--profile-bg-main: color-mix(in oklab,
 			color-mix(in srgb, var(--interactive-accent), var(--background-secondary) 70%),
 			transparent 85%);
 	background-color: var(--profile-bg-main);
 	background: radial-gradient(at 50% 0%,
 			/*var(--profile-bg-main) 20%, */
 			var(--profile-bg-main) 50%,
 			rgba(255, 255, 255, 0.1));
 	background-size: 200% 200%;
 	/* cuz it needs to be bigger */
 	font-family: var(--font-profile);
 	--p-spacing: 0.5rem;
 }

 .callout[data-callout="profile"]:hover {
 	animation: movetransparent 4s 1 forwards;
 }


 @keyframes movetransparent {
 	0% {
 		background-position: 0% 0%;
 	}

 	100% {
 		background-position: 250% 50%;
 	}
 }

 @keyframes bothways {
 	0% {
 		background-position: 0% 0%;
 	}

 	50% {
 		background-position: 250% 50%;
 	}

 	100% {
 		background-position: 0% 0%;
 	}
 }

 .callout[data-callout="profile"] .callout-icon {
 	display: none;
 }

 .callout[data-callout="profile"] .callout-title {
 	color: color-mix(in oklab,
 			var(--text-normal) 70%,
 			transparent);
 	text-align: center;
 	width: 100%;
 	display: block;
 	position: relative;
 }

 /*
 .callout[data-callout="profile"] .callout-title::after {
 	content: "2024";
 	position: absolute;
 	top: 0;
 	right: 0;
 	font-size: 1em;
 	opacity: 0.5;
 } */

 .callout[data-callout="profile"] :is(h1, h2, h3, h4, h5, h6) {
 	font-family: var(--font-profile-heading)
 }

 .callout[data-callout="profile"] h1 {
 	font-size: 1.2rem;
 	line-height: 0.6;
 }

 .callout[data-callout="profile"] h2 {
 	font-size: 1.15rem;
 }

 .callout[data-callout="profile"] :is(strong, em) {
 	font-size: 0.9em;
 	color: var(--text-normal)
 }

 .callout[data-callout="profile"] hr {
 	opacity: 0.3;
 	border: 1px solid currentColor;
 }

 /* trying to style headers that come before profile stylespaces */
 .cm-line:has(+ .cm-callout .callout[data-callout="profile"]) .cm-header-1 {
 	color: color-mix(in srgb,
 			var(--text-accent),
 			rgba(255, 255, 255, 0.455));
 }

 .cm-line:has(+ .cm-callout .callout[data-callout="profile"]) :is(.cm-header-1, .cm-header-2, .cm-header-3, .cm-header-4, .cm-header-5, .cm-header-6) {
 	font-family: var(--font-profile-fancy);
 	opacity: 1;
 }

 :is(.HyperMD-header-1.cm-line,
 	.HyperMD-header-2.cm-line,
 	.HyperMD-header-3.cm-line,
 	.HyperMD-header-4.cm-line,
 	.HyperMD-header-5.cm-line,
 	.HyperMD-header-6.cm-line):has(+ .cm-callout .callout[data-callout="profile"]) {
 	display: block;
 	text-align: center;
 	padding-bottom: 0.5em;
 	opacity: 0.7;
 }

 /* reprod
 .cm-line:has(+ .cm-callout) .cm-header-1{
	 color:red !important
 } */


 /* PLot timelines */
 .callout[data-callout="timeline"] {
 	background-color: var(--profile-bg-main);
 	background: radial-gradient(at 50% 0%,
 			/*var(--profile-bg-main) 20%, */
 			var(--profile-bg-main) 50%,
 			rgba(255, 255, 255, 0.1));
 	background-size: 200% 200%;
 	/* cuz it needs to be bigger */
 	font-family: var(--font-timeline-main);
 	--p-spacing: 0.5rem;

 	strong {
 		background-color: var(--timeline-bg-color);
 		color: var(--timeline-color-basis);
 		padding: 0.25em 0.4em;
 		font-family: var(--font-timeline-accent);
 		border-radius: 0.4em;
 		font-size: calc(var(--font-size-normal)*0.9);
 		box-sizing: border-box;
 		width: fit-content;
 		display: inline-block;
 		font-weight: normal;
 		line-height: 1.3;
 	}

 	code {
 		--code-color: var(--timeline-fg-color);
 		--code-background: var(--timeline-bg-color);
 		color: var(--code-color);
 		font-family: Cinzel;
 	}

 	li::marker {
 		color: var(--timeline-fg-color);
 	}

 }

 .callout[data-callout="timeline"] .callout-title {
 	color: color-mix(in oklab,
 			var(--text-normal) 90%,
 			transparent);
 	width: 100%;
 	display: block;
 	position: relative;
 	text-align: center;
 	font-size: 1.2em;
 	margin-bottom: 0.4em;
 }

 .callout[data-callout="timeline"] .callout-title-inner {
 	font-weight: 100;
 	position: relative;
 	width: fit-content;
 	/* Ensures the width doesn't exceed 70vw */
 	/* margin: auto; */
 }

 .callout[data-callout="timeline"] .callout-title-inner::after {
 	content: '';
 	background-color: var(--interactive-normal);
 	display: block;
 	width: 100%;
 	display: block;
 	height: 2px;
 	position: absolute;
 	bottom: -0.1em;
 	left: 15%;
 	transform: translateX(-15%);
 }

 .callout[data-callout="timeline"] .callout-icon {
 	display: none;
 }

 .callout[data-callout="timeline"] :is(h1, h2, h3, h4, h5, h6) {
 	color: var(--timeline-fg-color)
 }

 .callout[data-callout="timeline"] :is(h1, h2, h3, h4, h5, h6) {
 	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 	font-family: Montserrat;
 	font-weight: 400;
 	margin-top: 0.6em;
 	--hue-rotation: 0deg;
 	filter: hue-rotate(var(--hue-rotation)) saturate(3);
 	/* text-transform: uppercase; */
 }

 .callout[data-callout="timeline"] h1 {
 	--hue-rotation: -45deg;
 	font-size: 1.2rem;
 	line-height: 0.8;
 }

 .callout[data-callout="timeline"] h2 {
 	--hue-rotation: 10deg;
 	font-size: 1.15rem;
 }

 .callout[data-callout="timeline"] h3 {
 	--hue-rotation: 50deg;
 	font-size: 1.15rem;
 }

 /*  EQUATIONS */
 .callout[data-callout="eq"] {
 	--bg-color: color-mix(in oklab,
 			color-mix(in srgb,
 				var(--timeline-color-basis),
 				var(--background-secondary) 10%),
 			transparent 85%);
 	background-color: var(--bg-color);
 	font-family: Baskervville;
 	padding-block: 1em;

	.callout-title {
		--h-color: white;
		color: color-mix(in oklab, var(--h-color) 50%, var(--interactive-accent));
		// filter: saturate(0.7)
	}

 	.callout-icon {
 		display: none;
 	}

 }

 /* notebook simulation */
 .callout[data-callout="nb"] {
	--bg-color: color-mix(in oklab,
			color-mix(in srgb,
				var(--timeline-color-basis),
				var(--background-secondary) 10%),
			transparent 98%);
	background-color: var(--bg-color);
	font-family: 'gamja flower', 'Indie Flower';
	padding-block: 1em;
	position: relative;

   .callout-title {
	  display: block;
	  position:absolute;
	  right: 1em;
	  color:rgba(255, 255, 255, 0.421)
   }

	.callout-icon {
		display: none;
	}

	.callout-content > p {
		// text-decoration: underline #fff5;
		// text-underline-offset: 0.8em;
		--line-height: 1.75em;
		--nb-bg: transparent;
		--nb-line: color-mix(in srgb, rgba(255, 255, 255, 0.473), var(--main-text-accent) 100%);

		--fg-color: color-mix(in srgb, var(--main-text-accent) 30%, white);
		color: var(--fg-color);
		line-height: var(--line-height);
		padding-bottom: var(--line-height);
		font-size: 1.1rem;

		background: repeating-linear-gradient(
			var(--nb-bg) 0px,
			var(--nb-bg) calc(var(--line-height) - 1px),
			var(--nb-line) calc(var(--line-height)),
			var(--nb-bg) calc(var(--line-height) + 1px)
		  );

		margin-bottom: 0;

		em { color:var(--fg-color); font-weight: 500}

		strong {color:var(--fg-color); font-weight: bold}
	}
}

.cm-callout:has(.callout[data-callout="nb"]) {
	&:hover {
		--embed-block-shadow-hover: 0 0 0 1px rgba(255, 255, 255, 0.373);
	}
}


 /* HR BEFORE NEW DAY = .hr.cm-line:has(+ .cm-line .cm-inline-code):has(+ .cm-line .cm-hashtag) hr */
 /* HR DURING DAY =     .hr.cm-line:has(+ .cm-line .cm-hashtag):not(:has(+ .cm-line .cm-inline-code)) hr */

 .hr.cm-line:has(+ .cm-line .cm-inline-code):has(+ .cm-line .cm-hashtag) hr,
 .hr.cm-line:has(+ .cm-line .cm-hashtag):not(:has(+ .cm-line .cm-inline-code)) hr {
 	/* border-color: var(--timeline-fg-color);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0; */

 	font-weight: 200;
 	overflow: visible;
 	padding: 0;
 	text-align: center;
 }

 .hr.cm-line:has(+ .cm-line .cm-hashtag) br {
 	display: none
 }

 .hr.cm-line:has(+ .cm-line .cm-inline-code) hr {
 	width: 100%;
 	border: none;
 	height: 2px;
 	background: linear-gradient(to right,
 			transparent 0%,
 			#fff6 25%,
 			#fff8 50%,
 			#fff6 75%,
 			transparent 100%);
 	margin-block: 2rem;
 	display: block;

 	// &::after {
 	// 	//:has(+ .cm-line .cm-hashtag) gone
 	// 	content: "⋅⋅⋅∙✿∙⋅⋅⋅";
 	// 	display: inline-block;
 	// 	position: relative;
 	// 	top: 0em;
 	// 	font-size: 1.7rem;
 	// 	padding: 0.7em 0.5em;
 	// 	background: linear-gradient(to right,
 	// 			transparent 0%,
 	// 			#fff6 25%,
 	// 			var(--text-muted) 50%,
 	// 			#fff6 75%,
 	// 			transparent 100%);
 	// 	background-clip: text;
 	// 	-webkit-background-clip: text;
 	// 	color: transparent;
 	// }
 }

 .hr.cm-line:has(+ .cm-line .cm-hashtag):not(:has(+ .cm-line .cm-inline-code)) hr {
 	border: none;

 	&:after {
 		content: "──── ⋆⋅☆⋅⋆ ────";
 		display: inline-block;
 		position: relative;
 		top: 0em;
 		font-size: 1.3rem;
 		padding: 1em 0.5em 0.8em;
 		margin-right: 0em;
 		/* probably silly but idea to make more aligned with non-full page text*/
 		background: linear-gradient(to right,
 				transparent 0%,
 				var(--interactive-accent) 45%,
 				white 50%,
 				var(--interactive-accent) 55%,
 				transparent 100%);
 		background-clip: text;
 		-webkit-background-clip: text;
 		color: transparent;
 	}
 }

 .hr.cm-line:has(+ .cm-line .cm-inline-code):has(+ .cm-line .cm-hashtag) {
 	/* width: 100%; */
 	display: block;
 	font-size: calc(var(--font-size-normal)*1.4);
 	text-align: center;
 	line-height: 1;
 }

 .cm-line:has(.cm-hashtag) :is(.cm-inline-code) {
 	--inline-code: var(--timeline-fg-color) !important;
 	--pre-code-bg: var(--timeline-bg-color) !important;
 	/* color: var(--timeline-color-basis) !important */
 }

 .hr.cm-line:has(+ .cm-line .cm-inline-code):has(+ .cm-line .cm-hashtag)+.cm-line:has(.cm-hashtag) .cm-hashtag {
 	/* this only works when it comes after an hr to avoid accidentally recolouring in other files */
 	color: var(--timeline-fg-color) !important;
 	background-color: var(--timeline-bg-color);
 }



 /* bookmark symbol */
 .view-action.mod-bookmarked {
 	--icon-color: var(--interactive-accent);
 }

 /* MOBILE FRIENDLY */
 /* HR BEFORE NEW DAY = .hr.cm-line:has(+ .cm-line .cm-inline-code):has(+ .cm-line .cm-hashtag) hr */
 /* HR DURING DAY =     .hr.cm-line:has(+ .cm-line .cm-hashtag):not(:has(+ .cm-line .cm-inline-code)) hr */
 @media only screen and (max-width: 600px) {
 	.hr.cm-line:has(+ .cm-line .cm-inline-code):has(+ .cm-line .cm-hashtag) hr:after {
 		font-size: 1.4rem;
 		content: "────── ⋆ ✿ ⋆ ──────";
 	}

 	.hr.cm-line:has(+ .cm-line .cm-hashtag):not(:has(+ .cm-line .cm-inline-code)) hr:after {
 		content: "⋅⋅⋅∙✿∙⋅⋅⋅";
 		background: linear-gradient(to right,
 				transparent 0%,
 				#fff6 25%,
 				var(--text-muted) 50%,
 				#fff6 75%,
 				transparent 100%);
 		background-clip: text;
 		-webkit-background-clip: text;
 		color: transparent;

 	}

 	.callout[data-callout="profile"] .callout-title {
 		text-align: left;
 		font-size: 1.6rem;
 	}

 	.callout[data-callout="profile"] .callout-title:after {
 		display: none;
 	}

 	.callout[data-callout="profile"] h1 {
 		font-size: 1.15rem;
 		line-height: 0.6;
 	}

 	.callout[data-callout="profile"] h2 {
 		font-size: 1.1rem;
 	}

 	.callout[data-callout="prose"] .callout-content {
 		padding: .2rem;
 		letter-spacing: 0;
 		line-height: 1.45;
 	}

 	// Test that breakpoint works
 	// .cm-line {
 	// 	color:red !important
 	// } 
 }

 